  body{
    max-width: 600px;
    margin: auto;
  }

  ul {
      padding: 0;
  }
  
  li {
      background-color: aliceblue;
      margin-bottom: 3px;
      list-style-type: none;
      height: 8vh;
      clear: both;
      border-radius: 4vh;
  }
  
  li:nth-child(13) {
      margin-bottom: 2em;
  }
  li.unranked-line{
    background-color: red;
  }
  li:nth-child(13):after{
    content: "above this line is your council of 13";
    text-align: center;
    display: block;
    height: 1.5em;
    border-top: 1px solid;
  }
  input{width: 100%;}
  #ss-form{display: none;}
  
  .mugshot {
      display: inline-block;
      width: 10vh;
      float: left;
  }
  
  .mugshot img {
      width:  8vh;
      height: 8vh;
      object-fit: cover;
      border-radius: 50%;
  }
  
  .name {
      width: 44vw;
  }
  
  .arrow {
      width: 10vw;
      text-align: center;
      font-size: 250%;
  }

button.vote-button {
  width: 100%;
  font-size: 400%;
}
input[type="email"] {
  font-size: 140%;
}